---
const { entry, entry: { title, body, images, sales_data: { price } } } = Astro.props
let image = images && images.length && images[0]
import Title from '@components/Title.astro';
import Base from '@layouts/Base.astro'
import Prose from '@components/Prose.astro';
import Image from '@components/Image.astro';
import BuyButton from '@components/product/BuyButton.astro'
---
<Base {entry} >
  <div class="max-w-5xl mx-auto px-4">
    <div class="grid gap-4 md:gap-16 md:grid-cols-2">
      <div>
        <Title theme="underline" classes="mb-8">{title}</Title>
        {price && (
          <div class="font-brand font-bold text-2xl mb-6">${price}</div>
        )}
        {body && (
          <div class="prose font-serif">
            <Prose text={body} />
          </div>
        )}
        <div class="my-8">
          <BuyButton {entry} />
        </div>
      </div>
      {image && (
        <Image {image} params={{width: 500}} />
      )}
    </div>
  </div>
</Base>