---
import { formatStartEnd, getURLDomain } from '@util/helpers'
import Base from '@layouts/Base.astro'
import Time from '@components/Time.astro'
import Prose from '@components/Prose.astro'
import Venue from '@components/event/Venue.astro'
import ByLines from '@components/ByLines.astro'
const { entry, entry: { title, body, venue, time_start, time_end, hide_time, link} } = Astro.props
const start_end = formatStartEnd(time_start, time_end, hide_time )
---
<Base {entry}>
  <article class="mx-auto max-w-6xl">
    <div class="sm:flex pt-16">
      <div class="mb-8 px-4 sm:px-0 w-full sm:w-1/3">
        <div class="border-grey-400 border-b mb-4">
          <Time time={time_start} classes="text-base block text-red-500">
            Event: {start_end}
          </Time>
          <h1 class="font-bold mx-auto inline-block text-4xl max-w-lg mb-4 mt-2 leading-tight">
            {title}
          </h1>
          {venue && (
            <Venue {venue} />
          )}
          {link && (
            <a href={link} class="block dim text-sm no-underline mb-8 text-blue-600" target="_blank" rel="noreferrer">{getURLDomain(link)}</a>
          )}
          <ByLines {entry} />
        </div>
      </div>
      {body && (
      <section class="prose lg:prose-lg max-w-2xl text-gray-700 px-4 sm:px-8 w-full sm:w-3/4">
        <Prose text={body} />
      </section>
      )}
    </div>
</Base>