---
import Wrapper from "@components/blocks/section/Wrapper.astro"
import Image from "@components/Image.astro";
import Prose from "@components/Prose.astro";
import Title from "@components/Title.astro";
import { getImageURL } from "@util/sanity/image";

const { block, block: { title, image, theme, copy }} = Astro.props
const bgImage = image && getImageURL(image) 
---
<Wrapper {theme}>
  {bgImage && (
    <div class="bg-cover bg-center half-1" style={{
      backgroundImage: `url(${bgImage})`,
    }}>
      <Image {image} classes="md:hidden w-full" alt={`image from ${title}`} params={{width: 800}} />
    </div>
  )}
  {!!copy && (
    <div class="py-8 half-2">
      <div class="max-w-2xl py-8 px-14">
        <div class="mb-4">
          <Title theme="underline" classes="title-currentTheme px-8">
            {title}
          </Title>
        </div>
        <div class="text-currentTheme prose prose-a:text-white prose-h3:font-brand prose-h3:text-white font-serif p-8">
          <Prose text={copy} />
        </div>  
      </div>
    </div>
  )}
</Wrapper>