---
import { getCurrentYear } from '@util/helpers'
import { getLocations } from '@data/sanity/api'
import { main, secondary, legal} from '@data/menus'
import site from '@data/site'
import Follow from '@components/socials/Follow.astro'
import SiteBy from '@components/SiteBy.astro'
const currentPath = Astro.url.pathname;
const locations = await getLocations()
---
<style>
  .css-footer-logo {
  height: 16px;
  width: 4.95rem;
}
@media screen and (min-width: 30em) {
  .css-footer-logo {
    height: 1.25rem;
    width: 6.1875rem;
  }
}
@media screen and (min-width: 56em) {
  .css-footer-logo {
    height: 63px;
    width: 91px;
  }
}
</style>
<footer class="w-full py-8 bg-c-pink-500 text-white" role="contentinfo">
  <div class="max-w-5xl px-4 mx-auto md:flex justify-between">
    {/* Address & Follow */}
    <div class="md:flex justify-end md:block md:order-1">
      <div>
        {locations.map(entry => (
          <div class="uppercase font-sans font-bold">
            <h3 class="border-b-2 border-c-purple-500 pb-2 uppercase mb-4">
              {entry.title}
            </h3>
            <p class="mb-4">
              {entry.address_1}<br>
              {entry.city}, {entry.state}&nbsp;{entry.zip}
            </p>
            <p class="mb-4">
              {entry.email}<br>
              {entry.phone}
            </p>
          </div>
        ))}
        <div class="text-white -ml-2 mt-8">
          <Follow />
        </div>
      </div>
    </div>

    {/* Logo and Corp. */}
    <div class="flex justify-between md:flex-col md:order-0 my-12 md:my-0">
      <div>
        <img class="hidden md:block w-[6rem]" src="/images/footer_logo.svg" alt="" />
        <img class="md:hidden css-footer-logo" src="/images/logo_small.svg" alt="" />
      </div>
      <div class="text-white uppercase md:mt-6">
        &copy;{getCurrentYear()}&nbsp;{site.title}
      </div>
    </div>
  </div>
</footer>
<div class="max-w-5xl px-4 mx-auto">
  <SiteBy />
</div>