---
import { getCurrentYear } from '@util/helpers'
import { getLocations } from '@data/sanity/api'
import { main, secondary, legal} from '@data/menus'
import site from '@data/site'
import Follow from '@components/socials/Follow.astro'
import SiteBy from '@components/SiteBy.astro'
const currentPath = Astro.url.pathname;
const locations = await getLocations()
---
<footer class="w-full p-4 bg-pink-500 text-white" role="contentinfo">
  <div class="max-w-5xl px-4 mx-auto">
    <div>
      {locations.map(entry => (
        <div class="uppercase">
          <h3 class="border-b uppercase">
            {entry.title}
          </h3>
          <p class="mb-4">
            {entry.address_1}<br>
            {entry.city}, {entry.state}&nbsp;{entry.zip}
          </p>
          <p class="mb-4">
            {entry.email}<br>
            {entry.phone}
          </p>
        </div>
      ))}
    </div>
    <div class="text-white">
      <Follow />
    </div>
    <div class="md:flex justify-between lg:pt-16">
      <div>
        <a class="px-4 text-xs py-2 block md:inline-block text-gray-600 no-underline hover:text-black" href="{{ .Site.BaseURL }}" >
          &copy;{getCurrentYear()}&nbsp;{site.title}
        </a>         
      </div>
  
      <div class="px-4 py-2 text-xs text-gray-600 no-underline hover:text-black">
        <SiteBy />
      </div>
    </div>
  </div>
</footer>