---
const fields = [
  {
    name: 'name',
    label: 'Name',
    type: 'text',
  },
  {
    name: 'phone',
    label: 'Phone',
    type: 'tel',
  }, 
  {
    name: 'email',
    label: 'Email',
    type: 'text',
  },
  {
    name: 'message',
    label: 'Note:',
    type: 'textarea'
  }
]
const inputClass = "border-2 border-black block w-full py-1 px-2"
---

<div class="">
  <!-- BEGIN FORM -->
  <!-- howdy form script -->
  <script async src="https://static.howdyform.com/howdyClient.js?token=bGFtYnJpbmVAY29jaW5hMjE0LmNvbQ==" data-howdy-recipient="lambrine@cocina214.com"></script>
  <!-- howdy form script -->

  <form class="mt-_4375" method="POST">
    {fields.map(({name, label, type, })=> (
      <div class="mb-4">
        <label class="font-bold uppercase mb-2 block" for={name}>{label}</label>
        {type == 'textarea' ? (
          <textarea {name} class={inputClass} placeholder='Message' />
        ) : (
          <input {type} {name} class={inputClass} placeholder={label} />
        )}
      </div>
    ))}
    <input class="bg-c-purple-500 text-white py-2 px-8 font-bold uppercase" type="submit" value="Submit">
  </form>
</div>
