---
import Image from '@components/Image.astro'
import Title from '@components/Title.astro';
import Time from "@components/Time.astro";
import Prose from "@components/Prose.astro"
import { formatDate, getExcerpt } from '@util/helpers'
const { entry, list = true, entry: {title, url, date, image, bodyText, body, taxonomyCategories }} = Astro.props
const description = bodyText ? getExcerpt(bodyText) : false
const prose = list ? description : body
---
<article class="mb-24">
  <div class="border-b-2 border-fuchsia-600 uppercase mb-8 pb-2 flex items-center justify-between">
    <Title>
      {list ? (
        <a href={url}>
          {title}
        </a>
      ) : title}
    </Title>

    <Time time={date} classes="shrink-0" />
  </div>
  <div class="grid gap-8 md:grid-cols-2">
    <div>
      {prose && (
        <div class="prose font-serif mb-8">
          <Prose text={prose} />
        </div>
      )}
      {list && (
        <a href={url} class="hover:text-c-pink-600 hover:underline transition text-2xl uppercase font-brand font-bold">Read More</a>
      )}
    </div>
    {image && (
      <div class="flex justify-end">
        <Image image={image} classes="" alt={`image from ${title}`} />
      </div>
    )}
  </div>
</article>