---
import Image from '@components/Image.astro'
import Title from '@components/Title.astro';
import { formatDate, getExcerpt } from '@util/helpers'
const { entry, entry: {title, url, image, bodyText }} = Astro.props
const description = bodyText ? getExcerpt(bodyText) : false
---
<article class="bb b--black-10">
  <div class="db pv4 ph3 ph0-l no-underline dark-gray">
    <div class="flex flex-column flex-row-ns">
      {image && (
        <div class="w-1/5">
          <Image image={image} classes="db img w-100 w5-ns" alt={`image from ${title}`} />
        </div>
      )}
      <div>
        <Title theme="large">
          <a href={url}>
            {title}
          </a>
        </Title>
        <p class="lh-copy nested-copy-line-height text-color-primary">
          {description}
        </p>
        <a href={url} class="accent-color dim link">
          more &raquo;
        </a>
      </div>
    </div>
  </div>
</article>