---
const { entry, entry: { title, url, body, persons, hero} } = Astro.props
import Base from '@layouts/Base.astro'
import Prose from '@components/Prose.astro'
---
<Base {entry} >
  <div class="max-w-[83rem] mx-auto px-4 md:px-8">
    {body && (
    <article class="p-4 md:p-8 lg:p-8">
      <div class="measure-wide mx-auto text-xl leading-normal nested_paragraph no-underline text-gray-700">
        <Prose text={body} />
      </div>
    </article>
    )}
    {persons && (
      <section class="my-8 gap-8 grid sm:grid-cols-2 md:grid-cols-3">
        {persons.map(({ url, full_name, description })=> (
        <a href={url} class="bg-white text-gray-800 inline-block hover:text-black-900 no-underline p-8 shadow-hover">
          <h2 class="font-headings font-bold text-2xl block mb-1 text-black-900">{full_name}</h2>
          {description && (
            <div class="inline-block font-brand text-gray-600 leading-normal mt-0">
              <Prose text={description} />
            </div>
          )}
        </a>
        ))}
      </section>
    )}
  </div>
</Base>